<div class="page" ng-controller="txnSettlemetCtrl">
<form class="formFadeIn" role="form">
		<section class="panel panel-default">
			<div class="panel-heading input-sm">
				<strong><span class="glyphicon glyphicon-th"></span>
					Settle Transactions </strong>
			</div>
			<div class="panel-body">
				<div class="form-inline col-sm-12 noPadding">
					<div class="form-group col-sm-6 noPadding"	style="padding-right: 1px">
						<label for="classSelect" class="col-sm-3 control-label input-sm"
							style="text-align: right;">Organization</label>

						<div class="col-sm-9 noPadding">
							<select style="width: 100%" ui-select2="" ng-change="onOrgChange(orgSelect)" ng-model="orgSelect"
								id="orgSelect" ng-disabled="isDisabled">
								<option data-ng-repeat="org in orgs" value="{{org.orgId}}">{{org.orgName}}</option>
							</select>
						</div>
					</div>
					<div class="col-sm-6 noPadding" ng-hide="!showProvider">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpCatName" class="control-label input-sm">
								Service Provider</label>
						</div>
						<div class="col-sm-8 noPadding">
							<select style="width: 100%" ui-select2="" ng-change="onProviderChange(providerSelect)" 
								ng-model="providerSelect" id="providerSelect">
								<option data-ng-repeat="pro in providers"
									ng-selected="{{pro.merchantId}}" value="{{pro.merchantId}}">{{pro.merchantName}}</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</section>
	</form>
	<form class="form-horizontal formFadeIn" role="form" ng-hide="!providerSelected">
		<section class="panel panel-default">

			<!--Start topup type selection-->

			<div class="panel-heading input-sm">
				<strong><span class="glyphicon glyphicon-th"></span>
					Transaction Settlement </strong>
			</div>
			<div class="panel-body">
				<div class="form-group col-sm-12 noPadding">
					<!-- category code -->
					<div class="col-sm-4 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpCatCode" class="control-label input-sm">
								From Date</label>
						</div>

						<div class="col-sm-8 noPadding" ng-controller="DatepickerDemoCtrl">
							<div class="input-group ui-datepicker">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								<input type="text" placeholder="Select Date"
									class="form-control" datepicker-popup="{{format}}"
									ng-model="mem.FromDt" is-open="opened" min="minDate"
									max="maxDate" datepicker-options="dateOptions"
									date-disabled="disabled(date, mode)" ng-required="true"
									close-text="Close">
							</div>
						</div>
						<!-- 	<input type="text" id='newFrDt' class="ng-binding" ng-model="mem.FromDt" ng-value="{{mem.FromDt | date:'shortDate'}}"  /> -->
					</div>
					<!-- category Name -->
					<div class="col-sm-4 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpCatName" class="control-label input-sm">
								To Date</label>
						</div>
						<div class="col-sm-8 noPadding" ng-controller="DatepickerDemoCtrl">
							<div class="input-group ui-datepicker">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								<input type="text" class="form-control"
									datepicker-popup="{{format}}" placeholder="Select Date"
									ng-model="mem.ToDt" min="minDate" max="maxDate"
									datepicker-options="dateOptions"
									date-disabled="disabled(date, mode)" ng-required="true"
									close-text="Close">
							</div>
						</div>
					</div>
					<div class="col-sm-4 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpCatName" class="control-label input-sm">
								Transfer On</label>
						</div>
						<div class="col-sm-8 noPadding" ng-controller="DatepickerDemoCtrl">
							<div class="input-group ui-datepicker">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								<input type="text" class="form-control"
									datepicker-popup="{{format}}" placeholder="Select Date"
									ng-model="mem.transferDate" min="minDate" max="'2022-12-30'"
									datepicker-options="dateOptions"
									date-disabled="disabled(date, mode)" ng-required="true"
									close-text="Close">
							</div>
						</div>
					</div>

				</div>
				<div class="form-group" style="margin-left: 200px">
					<div class="col-sm-10">
						<button type="button" class="btn btn-info input-sm"
							style="width: 100px" ng-click="getTransDetails()">
							<span class="glyphicon glyphicon-ok"> Preview </span>
						</button>

					</div>

				</div>
			</div>




		</section>
	</form>
	<form role="form" class="formFadeIn" ng-hide="showBillDetails">
		<section class="panel panel-default table-dynamic">
			<div class="panel-heading input-sm">
				<strong><span class="glyphicon glyphicon-th"></span> Bill
					Details </strong>

			</div>

			<div class="table-filters">
				<div class="row">
					<div class="col-sm-4 col-xs-6">
						<form>
							<input type="text" placeholder="search"
								class="form-control input-sm" data-ng-model="searchKeywords"
								data-ng-keyup="search()">
						</form>
					</div>
					<div class="col-sm-3 col-xs-6 filter-result-info input-sm">
						<span> Showing {{filteredTrans.length}}/{{trans.length}}entries </span>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="form-inline col-sm-12 noPadding">
					<table
						class="table table-bordered table-striped table-responsive input-sm">
						<thead>
							<tr>
								<th style="width: 50px; margin-left: 5px"><input
									type="checkbox" ng-model="allTxnSelected"
									style="margin-left: 6px" ng-change="selectAllTxn()"></th>
								<th>
									<div class="th">
										# <span class="glyphicon glyphicon-chevron-up"
											data-ng-click=" order('count') "
											data-ng-class="{active: row == 'count'}"></span><span
											class="glyphicon glyphicon-chevron-down"
											data-ng-click=" order('-count') "
											data-ng-class="{active: row == '-count'}"></span>
									</div>
								</th>
								<th>
									<div class="th">
										Service Provider Code <span
											class="glyphicon glyphicon-chevron-up"
											data-ng-click=" order('bnfGrpname') "
											data-ng-class="{active: row == 'bnfGrpname'}"></span><span
											class="glyphicon glyphicon-chevron-down"
											data-ng-click=" order('-bnfGrpname') "
											data-ng-class="{active: row == '-bnfGrpname'}"></span>
									</div>
								</th>

								<th>
									<div class="th">
										Service Provider Name<span
											class="glyphicon glyphicon-chevron-up"
											data-ng-click=" order('programme_name') "
											data-ng-class="{active: row == 'programme_name'}"></span><span
											class="glyphicon glyphicon-chevron-down"
											data-ng-click=" order('-programme_name') "
											data-ng-class="{active: row == '-programme_name'}"></span>
									</div>
								</th>
								<!--  <th>
									<div class="th">
										Bank Code<span class="glyphicon glyphicon-chevron-up"
											data-ng-click=" order('voucherName') "
											data-ng-class="{active: row == 'voucherName'}"></span><span
											class="glyphicon glyphicon-chevron-down"
											data-ng-click=" order('-voucherName') "
											data-ng-class="{active: row == '-voucherName'}"></span>
									</div>
								</th>
								<th>
									<div class="th">
										Bank Name<span class="glyphicon glyphicon-chevron-up"
											data-ng-click=" order('service_name') "
											data-ng-class="{active: row == 'service_name'}"></span><span
											class="glyphicon glyphicon-chevron-down"
											data-ng-click=" order('-service_name') "
											data-ng-class="{active: row == '-service_name'}"></span>
									</div>
								</th> -->

								<th>
									<div class="th">
										Amount<span class="glyphicon glyphicon-chevron-up"
											data-ng-click=" order('itemvalue') "
											data-ng-class="{active: row == 'itemvalue'}"></span><span
											class="glyphicon glyphicon-chevron-down"
											data-ng-click=" order('-itemvalue') "
											data-ng-class="{active: row == '-itemvalue'}"></span>
									</div>
								</th>


							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="txn in currentPageTrans">
								<td><input type="checkbox" ng-model="txn.isActive"
									ng-checked="txn.isActive" ng-change="selectTxn($index)"></td>
								<td>{{txn.count}}</td>
								<td>{{txn.providerCode}}</td>
								<td>{{txn.providerName}}</td>
								<!-- <td>{{txn.bankCode}}</td>
								<td>{{txn.bankName}}</td> -->
								<td>{{txn.amount | number : fractionSize}}.00</td>
							</tr>
							<tr>
								<td colspan="4" style="text-align: right">Total:</td>



								<td colspan="2">{{total | number : fractionSize}}.00</td>
							</tr>
						</tbody>
					</table>

					<footer class="table-footer input-sm">

						<div class="row">
							<div class="col-md-6 page-num-info">
								<span> Show <select data-ng-model="numPerPage"
									data-ng-options="num for num in numPerPageOpt"
									data-ng-change="onNumPerPageChange()"></select> entries per
									page
								</span>
							</div>
							<div class="col-md-6 text-right pagination-container">
								<pagination class="pagination-sm" page="currentPage"
									total-items="filteredTrans.length" max-size="4"
									on-select-page="select(page)" items-per-page="numPerPage"
									rotate="false" boundary-links="true"></pagination>
							</div>
						</div>
					</footer>
				</div>
				<div class="form-group" style="margin-left: 200px">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="button" class="btn btn-success input-sm"
							style="width: 150px" ng-click="generatefile()" >
							<span class="glyphicon glyphicon-ok"> Settle </span>
						</button>
						<button type="button" class="btn btn-warning input-sm"
							style="width: 100px" ng-click="cancelApprove()">
							<span class="glyphicon glyphicon-ok"> Cancel </span>
						</button>
					</div>

				</div>
			</div>

		</section>
	</form>
</div>