<style>
a:link    {color:green; background-color:transparent; text-decoration:none}
a:visited {color:blue; background-color:transparent; text-decoration:none}
a:hover   {color:blue; background-color:transparent; text-decoration:underline}
a:active  {color:red; background-color:transparent; text-decoration:underline}
</style>
<div class="page" ng-controller="uploadsmartclaimCtrl">
<form class="formFadeIn" role="form">
		<section class="panel panel-default">
			<div class="panel-heading input-sm">
				<strong><span class="glyphicon glyphicon-th"></span>
					Upload Claims </strong>
			</div>
		</section>
	</form>
	
	<form class="form-horizontal formFadeIn" role="form">
		<section class="panel panel-default">

			<!--Start topup type selection-->

			<div class="panel-heading input-sm">
				<strong><span class="glyphicon glyphicon-th"></span>
				Upload SMART Claims </strong>
			</div>
			<div class="panel-body">
				<div class="form-group col-sm-12 noPadding">
					<div class="col-sm-6 noPadding">
						                <form class="form-horizontal formFadeIn"  ng-submit="uploadClaim()">
                    <fieldset>
                        <div class="form-group">
                            <label for="uploadfile" class="col-sm-2 control-label">File:
                            </label>
                            <div class="col-sm-10">
                                <input type="file" title="Select File" id="uploadfile" file-model="myFile"
                                       data-ui-file-upload class="btn-primary" accept=".application/vnd.sealed-xls,.xlsx" required="true">
                            </div>
                        </div>

                        <div class="form-group"></div>
                        <div class="form-group">
                            <label for="uploadfile" class="col-sm-2 control-label">
                            </label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-success" ng-click="uploadClaim()">Upload</button>
                            </div>
                        </div>
                    </fieldset>
                    
                </form>
					</div>
				</div>
			</div>




		</section>
	</form>
	<!--
	<form role="form" class="formFadeIn">
		<section class="panel panel-default table-dynamic">
			<div class="panel-heading input-sm">
				<strong><span class="glyphicon glyphicon-th"></span>
					Claims List</strong>
			</div>
			<div class="table-filters">
				<div class="row">
					<div class="col-sm-4 col-xs-6">
						<form>
							<input type="text" placeholder="search"
								class="form-control input-sm" data-ng-model="searchKeywords"
								data-ng-keyup="search()">
						</form>
					</div>
					<div class="col-sm-3 col-xs-6 filter-result-info input-sm">
						<span> Showing
							{{filteredClaims.length}}/{{claims.length}} entries </span>
					</div>
				</div>
			</div>

			<table
				class="table table-bordered table-striped table-responsive input-sm">
				<thead>
					<tr>
						<th>
							<div class="th">
								# <span class="glyphicon glyphicon-chevron-up"
									data-ng-click=" order('count') "
									data-ng-class="{active: row == 'count'}"></span><span
									class="glyphicon glyphicon-chevron-down"
									data-ng-click=" order('-count') "
									data-ng-class="{active: row == '-count'}"></span>
							</div>
						</th>
						<th>
							<div class="th">
								Insurance Code <span class="glyphicon glyphicon-chevron-up"
									data-ng-click=" order('insuranceCode') "
									data-ng-class="{active: row == 'serviceCode'}"></span><span
									class="glyphicon glyphicon-chevron-down"
									data-ng-click=" order('-insuranceCode') "
									data-ng-class="{active: row == '-insuranceCode'}"></span>
							</div>
						</th>
						<th>
							<div class="th">
								Insurance Name <span class="glyphicon glyphicon-chevron-up"
									data-ng-click=" order('insuranceName') "
									data-ng-class="{active: row == 'serviceName'}"></span><span
									class="glyphicon glyphicon-chevron-down"
									data-ng-click=" order('-insuranceName') "
									data-ng-class="{active: row == '-insuranceName'}"></span>
							</div>
						</th>

					</tr>
				</thead>
				<tbody>
					<tr><td  colspan="6" align="center" ng-show="filteredClaims.length==0"><b>No data</b></td></tr>
					<tr data-ng-repeat="claim in currentPageClaims">
						<td>{{claim.count}}</td>
						<td>{{claim.claimCode}}</td>
						<td>{{claim.claimName}}</td>
					</tr>
				</tbody>
			</table>

			<footer class="table-footer input-sm">
				<div class="row">
					<div class="col-md-6 page-num-info">
						<span> Show <select data-ng-model="numPerPage"
							data-ng-options="num for num in numPerPageOpt"
							data-ng-change="onNumPerPageChange()"></select> entries per page
						</span>
					</div>
					<div class="col-md-6 text-right pagination-container">
						<pagination class="pagination-sm" page="currentPage"
							total-items="filteredClaimss.length" max-size="4"
							on-select-page="select(page)" items-per-page="numPerPage"
							rotate="false" boundary-links="true"></pagination>
					</div>
				</div>
			</footer>

		</section>
		</form>
	-->
</div>