<html>
<head>
<style type="text/css">
.cropArea {
	background: #E4E4E4;
	overflow: hidden;
	width: 300px;
	height: 250px;
}
</style>

</head>
</html>

<div class="page" ng-controller="customerCtrl">

	<form role="form" class="formFadeIn" ng-hide="memberEditMode == true">
		<div>

			<section class="panel panel-default table-dynamic">
				<div class="panel-heading input-sm">
					<strong><span class="glyphicon glyphicon-th input-sm "></span>
						Customer's List</strong>
					<button type="button" class="btn btn-primary pull-right input-sm"
						tooltip-placement="left" tooltip="Create New Beneficiary"
						style="margin-top: -3px; height: 25px; margin-right: -8px; width: 60px"
						ng-click="addMember()">
						<span class="glyphicon glyphicon-plus" style="top: -2px"></span>
					</button>
				</div>

				<div class="table-filters">
					<div class="row">
						<div class="col-sm-4 col-xs-6">
							<form>
								<input type="text" placeholder="search"
									class="form-control input-sm" data-ng-model="searchKeywords"
									data-ng-keyup="search()">
							</form>
						</div>
						<div class="col-sm-3 col-xs-6 filter-result-info">
							<span class="input-sm"> Showing
								{{filteredMembers.length}}/{{members.length}} entries </span>
						</div>
					</div>
				</div>

				<table
					class="table table-bordered table-striped table-responsive input-sm">
					<thead>
						<tr>

							<th>
								<div class="th">
									# <span class="glyphicon glyphicon-chevron-up"
										data-ng-click=" order('memberId') "
										data-ng-class="{active: row == 'memberId'}"></span> <span
										class="glyphicon glyphicon-chevron-down"
										data-ng-click=" order('-memberId') "
										data-ng-class="{active: row == '-memberId'}"></span>
								</div>
							</th>
							<th>
								<div class="th">
									Customer's Id or Passport No <span
										class="glyphicon glyphicon-chevron-up"
										data-ng-click=" order('idPassPortNo') "
										data-ng-class="{active: row == 'idPassPortNo'}"></span> <span
										class="glyphicon glyphicon-chevron-down"
										data-ng-click=" order('-idPassPortNo') "
										data-ng-class="{active: row == '-idPassPortNo'}"></span>
								</div>
							</th>
							<th>
								<div class="th">
									Customer's Name <span class="glyphicon glyphicon-chevron-up"
										data-ng-click=" order('firstName') "
										data-ng-class="{active: row == 'firstName'}"></span> <span
										class="glyphicon glyphicon-chevron-down"
										data-ng-click=" order('-firstName') "
										data-ng-class="{active: row == '-firstName'}"></span>
								</div>
							</th>
							<th ng-hide="true">
								<div class="th">
									Enroll Status <span class="glyphicon glyphicon-chevron-up"
										data-ng-click=" order('bioStatus') "
										data-ng-class="{active: row == 'bioStatus'}"></span> <span
										class="glyphicon glyphicon-chevron-down"
										data-ng-click=" order('-bioStatus') "
										data-ng-class="{active: row == '-bioStatus'}"></span>
								</div>
							</th>
							<th style="width: 60px"></th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="member in currentPageMembers">
							<td>{{member.memberId}}</td>
							<td>{{member.idPassPortNo}}</td>
							<td>{{member.firstName}} {{member.surName}}</td>
							<td ng-hide="true">{{member.bioStatus}}</td>
							<td style="padding: 1px;">
								<button type="button" class="btn btn-success"
									tooltip-placement="top"
									tooltip="Modify {{member.idPassPortNo}}"
									style="height: 25px; width: 60px;"
									ng-click="editMember(member)">
									<span class="glyphicon glyphicon-pencil" style="top: -2px;"></span>
								</button>

							</td>
						</tr>
					</tbody>
				</table>

				<footer class="table-footer input-sm">
					<div class="row">
						<div class="col-md-6 page-num-info">
							<span> Show <select data-ng-model="numPerPage"
								data-ng-options="num for num in numPerPageOpt"
								data-ng-change="onNumPerPageChange()">
							</select> entries per page
							</span>
						</div>
						<div class="col-md-6 text-right pagination-container">
							<pagination class="pagination-sm" page="currentPage"
								total-items="filteredMembers.length" max-size="5"
								on-select-page="select(page)" items-per-page="numPerPage"
								rotate="false" boundary-links="true"></pagination>
						</div>
					</div>
				</footer>
			</section>
		</div>
	</form>
	<form class="form-horizontal formFadeIn" role="form"
		ng-hide="memberDetailMode">
		<section class="panel panel-default">
			<button type="button" class="btn btn-primary pull-right input-sm"
				tooltip-placement="left" tooltip="Fill Dummy Data"
				style="margin-top: 2px; height: 25px; margin-right: 1px; width: 150px"
				ng-click="fillData()">
				<span class="" style="top: -2px">Fill Dummy Data</span>
			</button>
			<div class="panel-heading input-sm">
				<strong><span class="glyphicon glyphicon-th input-sm"></span>
					Customer Details</strong>


			</div>

			<div class="panel-body">

				<div class="form-group col-sm-12 noPadding">

					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberSurname" class="control-label input-sm">Surname</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberSurname" placeholder="Surname" ng-model="surName">
						</div>
					</div>
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberTitle" class="control-label input-sm">Title</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberTitle" placeholder="Title" ng-model="title">
						</div>
					</div>

				</div>
				<div class="form-group col-sm-12 noPadding">
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberName" class="control-label input-sm">First
								Name</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberName" placeholder="First Name" ng-model="firstName">
						</div>
					</div>
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberOtherName" class="control-label input-sm">Other
								Names</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberOtherName" placeholder="Other Names"
								ng-model="otherName">
						</div>
					</div>
				</div>
				<div class="form-group col-sm-12 noPadding">
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberIdPassPortNo" class="control-label input-sm">ID
								or Passport No</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberIdPassPortNo" placeholder="ID or Passport No"
								ng-model="idPassPortNo">
						</div>
					</div>
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberOtherName" class="control-label input-sm">Gender</label>
						</div>
						<div class="col-sm-8">
							<div class="col-sm-4 noPadding">
								<div class="col-sm-12">
									<label> <input type="checkbox" id="male"
										style="margin-top: 10px" ng-model="male">
									</label> <span>Male</span>
								</div>

							</div>
							<div class="col-sm-4 noPadding">
								<div class="col-sm-12">
									<label> <input type="checkbox" id="feMale"
										ng-model="feMale" style="margin-top: 10px">
									</label> <span>Female</span>
								</div>


							</div>
						</div>
					</div>
				</div>
				<div class="form-group col-sm-12 noPadding">
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberDob" class="control-label input-sm">Date
								of Birth</label>
						</div>
						<div class="col-sm-8">
							<div class="input-group ui-datepicker"
								ng-controller="DatepickerDemoCtrl">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								<input type="text" placeholder="Select Date Of Birth"
									class="form-control" datepicker-popup="{{format}}"
									ng-model="mem.dateOfBirth" is-open="opened" min="minDate"
									max="'2019-06-22'" datepicker-options="dateOptions"
									date-disabled="disabled(date, mode)" close-text="Close">

							</div>
						</div>
					</div>
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberMaritalStatus"
								class="control-label input-sm">Marital Status</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberMaritalStatus" placeholder="Marital Status"
								ng-model="maritalStatus">
						</div>
					</div>
				</div>

				<div class="form-group col-sm-12 noPadding">
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberWeight" class="control-label input-sm">Weight</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberWeight" placeholder="Weight" ng-model="weight">
						</div>
					</div>
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberHeight" class="control-label input-sm">Height</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberHeight" placeholder="Height" ng-model="height">
						</div>
					</div>

				</div>

				<div class="form-group col-sm-12 noPadding" ng-hide="true">
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberNhifNo" class="control-label input-sm">NHIF
								No.</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberNhifNo" placeholder="NHIF No" ng-model="nhifNo">
						</div>
					</div>
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberEmployer" class="control-label input-sm">Name
								of employer (if applicable)</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberEmployer" placeholder="Name of employer"
								ng-model="employerName">
						</div>
					</div>

				</div>
				<div class="form-group col-sm-12 noPadding">
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberOccupation" class="control-label input-sm">Occupation</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberOccupation" placeholder="Occupation"
								ng-model="occupation">
						</div>
					</div>
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberNationality" class="control-label input-sm">Nationality</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberNationality" placeholder="Nationality"
								ng-model="nationality">
						</div>
					</div>

				</div>

			</div>



			<div class="panel-heading input-sm" ng-hide="true">
				<strong><span class="glyphicon glyphicon-th"></span> Add
					Family Members</strong>
			</div>
			<div class="panel-body" ng-hide="true">
				<div class="form-group col-sm-12 noPadding">
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberOtherName" class="control-label input-sm">Family Size</label>
						</div>
						<div class="col-sm-8">
							<label> <input type="checkbox" id="male"
								style="margin-top: 10px" ng-model="household">
							</label> <span>Household</span>
						</div>

					</div>
					<div class="col-sm-6 noPadding" ng-show="household==true">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberNationality" class="control-label input-sm">
								FamilySize</label>
						</div>
						<div class="col-sm-8">
							<input type="number" class="form-control input-sm"
								id="inpMemberNationality" placeholder="Family Size"
								ng-model="familySize">
						</div>
					</div>

				</div>
				<div class="form-group col-sm-12 noPadding"
					style="padding-top: 10px; padding-right: 40px">
					<div class="col-sm-4 noPadding">
						<div class="col-sm-5" style="text-align: right;">
							<label for="serviceSelect" class="control-label input-sm">
								First Name</label>
						</div>
						<div class="col-sm-7 noPadding">
							<input type="text" ng-model="entry.familyMemFirstName"
								placeholder="First Name" class="form-control input-sm"
								id="entry.familyMemFirstName" style="width: 100%" />
						</div>
					</div>

					<div class="col-sm-4 noPadding">
						<div class="col-sm-5" style="text-align: right;">
							<label for="ipQuantity" class="control-label input-sm">Last
								Name</label>
						</div>
						<div class="col-sm-7 noPadding">
							<input type="text" ng-model="entry.familyMemLastName"
								placeholder="last Name" class="form-control input-sm"
								id="entry.familyMemLastName" style="width: 100%" />
						</div>
					</div>

					<div class="col-sm-4 noPadding">
						<div class="col-sm-5" style="text-align: right;">
							<label for="inpRelation" class="control-label input-sm">Relation</label>
						</div>
						<div class="col-sm-7 noPadding">
							<div class="input-group">
								<select style="width: 100%" ui-select2="entry.relationId"
									ng-model="entry.relationId" id="entry.relationId">
									<option ng-repeat="relation in relations"
										value="{{relation.relationId}}">{{relation.relationDesc}}</option>
								</select><span class="input-group-btn">
									<button class="btn btn-primary input-sm" type="button"
										tooltip-placement="top" tooltip="Submit Entry"
										ng-click="addEntry()">
										<span class="glyphicon glyphicon-plus"></span>
									</button>
									<button class="btn btn-warning input-sm" type="button"
										tooltip-placement="top" tooltip="Clear  Entry"
										ng-click="clearEntry(entry)">
										<span class="glyphicon glyphicon-minus"></span>
									</button>
								</span>
							</div>
						</div>
					</div>

				</div>
				<div class="form-group col-sm-12 noPadding"
					style="max-height: 400px; overflow-y: scroll; width: 90%; margin-left: 25px">
					<table
						class="table table-bordered table-striped table-responsive input-sm">
						<thead>
							<tr>

								<th style="width: 100px">
									<div class="th">First Name</div>
								</th>
								<th style="width: 100px">
									<div class="th">Last Name</div>
								</th>
								<th style="width: 92px">
									<div class="th">Relation</div>
								</th>


							</tr>
						</thead>
						<tbody>
							<tr
								data-ng-repeat="(i, memEntry) in famMemEntries track by $index">

								<td
									ng-style="{'background-color': '#eef8fc', 'color': '#26929c'}"><input
									type="text" class="form-control input-sm" placeholder="0.00"
									ng-model="famMemEntries[i].familyMemFirstName"
									ng-disabled="!famMemEntries[i].editMode"
									ng-style="{'color': '#26929c'}" /></td>
								<td style="width: 105px"
									ng-style="{'background-color': '#eef8fc', 'color': '#26929c'}"><input
									type="text" ng-model="famMemEntries[i].familyMemLastName"
									placeholder="0.00" class="form-control input-sm text-right"
									ng-disabled="!famMemEntries[i].editMode"
									ng-style="{'color': '#26929c'}" /></td>
								<td style="vertical-align: middle;"
									ng-style="{'background-color': '#eef8fc', 'color': '#26929c'}">{{memEntry.relationDesc}}</td>


							</tr>

						</tbody>
					</table>
				</div>
			</div>
			<div class="panel-heading input-sm">
				<strong><span class="glyphicon glyphicon-th input-sm"></span>
					Contact Information</strong>
			</div>
			<div class="panel-body">
				<div class="form-group col-sm-12 noPadding" ng-hide="true">
					<div class="col-sm-12 noPadding">
						<div class="col-sm-2" style="text-align: right;">
							<label for="inpMemberPostalAdd" class="control-label input-sm">Postal
								Add</label>
						</div>
						<div class="col-sm-10">
							<input type="text" class="form-control input-sm"
								id="inpMemberPostalAdd" placeholder="Postal Address"
								ng-model="postalAdd">
						</div>
					</div>

				</div>
				<div class="form-group col-sm-12 noPadding" ng-hide="true">
					<div class="col-sm-12 noPadding">
						<div class="col-sm-2" style="text-align: right;">
							<label for="inpMemberPhysicalAdd" class="control-label input-sm">Physical
								Home Add</label>
						</div>
						<div class="col-sm-10">
							<input type="text" class="form-control input-sm"
								id="inpMemberPhysicalAdd" placeholder="Physical Home Address"
								ng-model="physicalAdd">
						</div>
					</div>

				</div>
				<div class="form-group col-sm-12 noPadding">
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberHomeTele" class="control-label input-sm">Home
								Telephone</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberHomeTele" placeholder="Home Telephone"
								ng-model="homeTelephone">
						</div>
					</div>
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberPhysicalAdd" class="control-label input-sm">
								Home Add</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberPhysicalAdd" placeholder="Physical Home Address"
								ng-model="physicalAdd">
						</div>
					</div>

					<div class="col-sm-6 noPadding" ng-hide="true">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberOfficeTelephone"
								class="control-label input-sm">Office Telephone</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberOfficeTelephone" placeholder="Office Telephone"
								ng-model="officeTelephone">
						</div>
					</div>

				</div>
				<div class="form-group col-sm-12 noPadding">
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberCellTele" class="control-label input-sm">Cell
								Phone/Mobile</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberCellTele" placeholder="Cell Phone/Mobile Phone"
								ng-model="cellPhone">
						</div>
					</div>
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberEmail" class="control-label input-sm">Email</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberEmail" placeholder="Email" ng-model="email">
						</div>
					</div>

				</div>
			</div>

			<div class="panel-heading input-sm">
				<strong><span class="glyphicon glyphicon-th input-sm"></span>
					Programme Information</strong>
			</div>
			<div class="panel-body">
				<div class="form-group col-sm-12 noPadding">
					<div class="col-sm-12 ">
						<div class="col-sm-2" style="text-align: left;">
							<label for="noOfEmployees" class="control-label input-sm">Customer
								Group </label>
						</div>
						<div class="col-sm-10">
							<select style="width: 100%" ui-select2="" ng-model="bnfGrpSelect"
								id="bnfGrpSelect">
								<option data-ng-repeat="bnf in bnfgrps"
									ng-selected="{{bnf.bnfGrpId}}" value="{{bnf.bnfGrpId}}">{{bnf.bnfGrpName}}</option>
							</select>
						</div>
					</div>


				</div>
				<div class="form-group col-sm-12" ng-hide="showProgrammes"
					style="max-height: 400px; overflow-y: auto;">

					<table
						class="table table-bordered table-striped table-responsive input-sm">
						<thead>
							<tr>
								<th><input type="checkbox" ng-model="allItemsSelected"
									ng-change="selectAllProgrammes()"></th>
								<th style="width: 10px" ng-hide="true">
									<div class="th">Id</div>
								</th>
								<th>
									<div class="th">Programme Name</div>
								</th>
								<th ng-hide="true">
									<div class="th">Value</div>
								</th>
							</tr>
						</thead>
						<tbody>

							<tr data-ng-repeat="programme in programmes">
								<td><input type="checkbox" ng-model="programme.isActive"
									ng-checked="programme.isActive"
									ng-change="selectProgramme($index)"></td>
								<td ng-hide="true">{{programme.programmeId}}</td>
								<td>{{programme.programmeDesc}}</td>
								<td ng-hide="true"><input type="number"
									class="form-control input-sm" id="inpPrgrammeValue"
									placeholder="Value" ng-model="programme.programmeValue"></td>

							</tr>
						</tbody>
					</table>
				</div>

			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">

					<button type="button" class="btn btn-info input-sm"
						style="width: 120px" ng-click="next()">
						<span class="glyphicon glyphicon-arrow-right"> Next </span>
					</button>
					<button type="button" class="btn btn-warning input-sm"
						style="width: 100px" ng-click="cancelMember()">
						<span class="glyphicon glyphicon-remove"> Cancel </span>
					</button>
				</div>


			</div>

		</section>

	</form>
	<form class="form-horizontal formFadeIn" role="form"
		ng-hide="photoUploadMode">
		<section class="panel panel-default table-dynamic">
			<div class="panel-heading input-sm">
				<strong><span class="glyphicon glyphicon-th input-sm "></span>
					Upload Photo</strong>

			</div>
			<div class="panel-body">

				<div class="form-group col-sm-12 noPadding">
					<div class="col-sm-12 noPadding">


						<div class="col-sm-12">

							<div class="col-sm-4" ng-hide="showCamera" id="my_camera">

								<!-- 								<applet name="camId" id="camId" codebase="." placeholder="no" -->
								<!-- 									archive="applet/camera-0.1.5-SNAPSHOT.jar" -->
								<!-- 									code="org.compulynx.webcam.snap.SnapApplet.class" -->
								<!-- 									alt="Webcam Capture Applet" width="300px" height="250px"> -->
								<!-- 									<param name="separate_jvm" value="true" /> -->
								<!-- 								</applet> -->
							</div>
							<div class="col-sm-4 ">
								<img-crop image="myImage" result-image="myCroppedImage"
									ng-hide="showImage" class="cropArea" ng-hide="capPic"
									area-type="square"></img-crop>
							</div>

							<div class="col-sm-4 ">
								<img ng-src="{{myCroppedImage}}" ng-model="newfile"
									class="cropArea" ng-hide="capPic" placeholder="Cropped Photo" />
							</div>
						</div>
					</div>
				</div>
				<div class="form-group col-sm-12 noPadding" ng-hide="true">
					<div class="col-sm-12 noPadding " ng-hide="showCamera">
						<div class="col-sm-2" style="text-align: right;">
							<label for="familySizeSelect" class="control-label input-sm"
								ng-hide="showCamera">Select Camera</label>
						</div>
						<div class="col-sm-10">
							<select style="width: 100%" ui-select2="" ng-hide="showCamera"
								ng-model="cams" id="cams">
								<option data-ng-repeat="camera in cameraList"
									ng-selected="{{camera.id}}" value="{{camera.id}}">{{obj.name}}</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">

					<input type="file" title="Upload Photo" id="fileInput"
						data-ui-file-upload class="btn-primary">
					<button type="button" class="btn btn-info input-sm" id="showCam" ng-hide="true"
						ng-click="showCam()">
						<span class="glyphicon glyphicon-camera"> Show Cam</span>
					</button>
					<button type="button" class="btn btn-primary input-sm" ng-hide="true"
						style="width: 120px" id="camLoad" ng-click="take_snapshot()">
						<span> Capture Pic </span>
					</button>

				</div>

			</div>
		</section>
		<section class="panel panel-default table-dynamic">
			<div class="panel-body">
				<div class="form-group col-sm-offset-2 col-sm-10">
					<button type="button" class="btn btn-info input-sm"
						style="width: 120px" ng-click="back()">
						<span class="glyphicon glyphicon-arrow-left"> Back </span>
					</button>
					<button type="button" class="btn btn-success input-sm"
						style="width: 120px" ng-click="updateMember(mem)">
						<span class="glyphicon glyphicon-ok"> Save </span>
					</button>
					<button type="button" class="btn btn-warning input-sm"
						style="width: 100px" ng-click="cancelMember()">
						<span class="glyphicon glyphicon-remove"> Cancel </span>
					</button>
					<button type="button" class="btn btn-primary input-sm"
						style="width: 100px" ng-click="enrollMem()" ng-hide="showEnroll">
						<span class="glyphicon glyphicon-thumbs-up"> Enroll</span>
					</button>

				</div>
			</div>
		</section>
	</form>
	<form class="form-horizontal formFadeIn" role="form"
		ng-hide="memberViewMode">
		<section class="panel panel-default">
			<div class="panel-heading input-sm">
				<strong><span class="glyphicon glyphicon-th"></span>Member
					Info</strong>
			</div>
			<div class="panel panel-profile">
				<div class="panel-heading bg-default clearfix">
					<a href="" class="pull-left profile"> <img alt=""
						ng-src="{{myCroppedImage}}" class="img-circle img105_105"
						style="background-color: white">
					</a>
					<h3 class="ng-binding">{{fullName}}</h3>

				</div>

			</div>
			<div class="panel-body">

				<div class="form-group col-sm-12 noPadding">

					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberSurname" class="control-label input-sm">Surname</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberSurname" placeholder="Surname" ng-model="surName"
								readonly>
						</div>
					</div>
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberTitle" class="control-label input-sm">Title</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberTitle" placeholder="Title" ng-model="title"
								readonly>
						</div>
					</div>

				</div>
				<div class="form-group col-sm-12 noPadding">
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberName" class="control-label input-sm">First
								Name</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberName" placeholder="First Name" ng-model="firstName"
								readonly>
						</div>
					</div>
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberOtherName" class="control-label input-sm">Other
								Names</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberOtherName" placeholder="Other Names"
								ng-model="otherName" readonly>
						</div>
					</div>
				</div>
				<div class="form-group col-sm-12 noPadding">
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberIdPassPortNo" class="control-label input-sm">ID
								or Passport No</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberIdPassPortNo"
								placeholder="ID or Passport
								No" ng-model="idPassPortNo"
								readonly>
						</div>
					</div>
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberOtherName" class="control-label input-sm">Gender</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberIdPassPortNo" ng-model="gender" readonly>
						</div>

					</div>
				</div>
				<div class="form-group col-sm-12 noPadding">
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberDob" class="control-label input-sm">Date
								of Birth</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberIdPassPortNo" ng-model="mem.dateOfBirth" readonly>

						</div>
					</div>
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberMaritalStatus"
								class="control-label input-sm">Marital Status</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberMaritalStatus" placeholder="Marital Status"
								ng-model="maritalStatus" readonly>
						</div>
					</div>
				</div>

				<div class="form-group col-sm-12 noPadding">
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberWeight" class="control-label input-sm">Weight</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberWeight" placeholder="Weight" ng-model="weight"
								readonly>
						</div>
					</div>
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberHeight" class="control-label input-sm">Height</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberHeight" placeholder="Height" ng-model="height"
								readonly>
						</div>
					</div>

				</div>

				<div class="form-group col-sm-12 noPadding">
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberNhifNo" class="control-label input-sm">NHIF
								No.</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberNhifNo" placeholder="NHIF No" ng-model="nhifNo"
								readonly>
						</div>
					</div>
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberEmployer" class="control-label input-sm">Name
								of employer (if applicable)</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberEmployer" placeholder="Name of employer"
								ng-model="employerName" readonly>
						</div>
					</div>

				</div>
				<div class="form-group col-sm-12 noPadding">
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberOccupation" class="control-label input-sm">Occupation</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberOccupation" placeholder="Occupation"
								ng-model="occupation" readonly>
						</div>
					</div>
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberNationality" class="control-label input-sm">Nationality</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberNationality" placeholder="Nationality"
								ng-model="nationality" readonly>
						</div>
					</div>

				</div>
			</div>
			<!-- Dummy -->

			<div class="col-sm-4 noPadding"></div>
			<!-- Grids -->
			<div class="form-group col-sm-12 noPadding" style="padding-top: 10px" ng-hide="true">

				<div class="col-sm-12 noPadding" style="padding-left: 5px;">
					<section class="panel panel-default">
						<div class="panel-heading input-sm">
							<strong><span class="glyphicon glyphicon-th"></span> Add
								Family Members</strong>
						</div>
						<div class="form-group col-sm-12 noPadding"
							style="padding-top: 10px; padding-right: 40px">
							<div class="col-sm-4 noPadding">
								<div class="col-sm-4" style="text-align: right;">
									<label for="serviceSelect" class="control-label input-sm">
										First Name</label>
								</div>
								<div class="col-sm-8 noPadding">
									<input type="text" ng-model="entry.familyMemFirstName"
										placeholder="First Name" class="form-control input-sm"
										id="entry.familyMemFirstName" style="width: 100%" />
								</div>
							</div>

							<div class="col-sm-4 noPadding">
								<div class="col-sm-4" style="text-align: right;">
									<label for="ipQuantity" class="control-label input-sm">Last
										Name</label>
								</div>
								<div class="col-sm-8 noPadding">
									<input type="text" ng-model="entry.familyMemLastName"
										placeholder="last Name" class="form-control input-sm"
										id="entry.familyMemLastName" style="width: 100%" />
								</div>
							</div>

							<div class="col-sm-4 noPadding">
								<div class="col-sm-4" style="text-align: right;">
									<label for="inpRelation" class="control-label input-sm">Relation</label>
								</div>
								<div class="col-sm-8 noPadding">
									<div class="input-group">
										<select style="width: 100%" ui-select2="entry.relationId"
											ng-model="entry.relationId" id="entry.relationId">
											<option ng-repeat="relation in relations"
												value="{{relation.relationId}}">{{relation.relationDesc}}</option>
										</select><span class="input-group-btn">
											<button class="btn btn-primary input-sm" type="button"
												tooltip-placement="top" tooltip="Submit Entry"
												ng-click="addEntry()">
												<span class="glyphicon glyphicon-plus"></span>
											</button>
											<button class="btn btn-warning input-sm" type="button"
												tooltip-placement="top" tooltip="Clear  Entry"
												ng-click="clearEntry(entry)">
												<span class="glyphicon glyphicon-minus"></span>
											</button>
										</span>
									</div>
								</div>
							</div>

						</div>
						<div class="panel-body"
							style="max-height: 400px; overflow-y: scroll;">
							<table
								class="table table-bordered table-striped table-responsive input-sm">
								<thead>
									<tr>

										<th style="width: 100px">
											<div class="th">First Name</div>
										</th>
										<th style="width: 100px">
											<div class="th">Last Name</div>
										</th>
										<th style="width: 92px">
											<div class="th">Relation</div>
										</th>

									</tr>
								</thead>
								<tbody>
									<tr
										data-ng-repeat="(i, memEntry) in famMemEntries track by $index">

										<td
											ng-style="{'background-color': '#eef8fc', 'color': '#26929c'}"><input
											type="text" class="form-control input-sm" placeholder="0.00"
											ng-model="famMemEntries[i].familyMemFirstName"
											ng-disabled="!famMemEntries[i].editMode"
											ng-style="{'color': '#26929c'}" /></td>
										<td style="width: 105px"
											ng-style="{'background-color': '#eef8fc', 'color': '#26929c'}"><input
											type="text" ng-model="famMemEntries[i].familyMemLastName"
											placeholder="0.00" class="form-control input-sm text-right"
											ng-disabled="!famMemEntries[i].editMode"
											ng-style="{'color': '#26929c'}" /></td>
										<td style="vertical-align: middle;"
											ng-style="{'background-color': '#eef8fc', 'color': '#26929c'}">{{memEntry.relationDesc}}</td>


									</tr>

								</tbody>
							</table>
						</div>
					</section>
				</div>
			</div>
			<div class="panel-heading input-sm">
				<strong><span class="glyphicon glyphicon-th input-sm"></span>
					Contact Information</strong>
			</div>
			<div class="panel-body">
				<div class="form-group col-sm-12 noPadding">
					<div class="col-sm-12 noPadding">
						<div class="col-sm-2" style="text-align: right;">
							<label for="inpMemberPostalAdd" class="control-label input-sm">Postal
								Add</label>
						</div>
						<div class="col-sm-10">
							<input type="text" class="form-control input-sm"
								id="inpMemberPostalAdd" placeholder="Postal Address"
								ng-model="postalAdd" readonly>
						</div>
					</div>

				</div>
				<div class="form-group col-sm-12 noPadding">
					<div class="col-sm-12 noPadding">
						<div class="col-sm-2" style="text-align: right;">
							<label for="inpMemberPhysicalAdd" class="control-label input-sm">Physical
								Home Add</label>
						</div>
						<div class="col-sm-10">
							<input type="text" class="form-control input-sm"
								id="inpMemberPhysicalAdd" placeholder="Physical Home Address"
								ng-model="physicalAdd" readonly>
						</div>
					</div>

				</div>
				<div class="form-group col-sm-12 noPadding">
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberHomeTele" class="control-label input-sm">Home
								Telephone</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberHomeTele" placeholder="Home Telephone"
								ng-model="homeTelephone" readonly>
						</div>
					</div>
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberOfficeTelephone"
								class="control-label input-sm">Office Telephone</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberOfficeTelephone" placeholder="Office Telephone"
								ng-model="officeTelephone" readonly>
						</div>
					</div>

				</div>
				<div class="form-group col-sm-12 noPadding">
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberCellTele" class="control-label input-sm">Cell
								Phone/Mobile Phone</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberCellTele" placeholder="Cell Phone/Mobile Phone"
								ng-model="cellPhone" readonly>
						</div>
					</div>
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpMemberEmail" class="control-label input-sm">Email</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								id="inpMemberEmail" placeholder="Email" ng-model="email"
								readonly>
						</div>
					</div>

				</div>
			</div>
			<!-- 			<div class="panel-heading input-sm"> -->
			<!-- 				<strong><span class="glyphicon glyphicon-th input-sm"></span> -->
			<!-- 					Particulars Of Next Of Kin</strong> -->
			<!-- 			</div> -->
			<!-- 			<div class="panel-body"> -->
			<!-- 				<div class="form-group col-sm-12 noPadding"> -->
			<!-- 					<div class="col-sm-12 noPadding"> -->
			<!-- 						<div class="col-sm-2" style="text-align: right;"> -->
			<!-- 							<label for="inpMemberNokName" class="control-label input-sm">Name -->
			<!-- 								in Full </label> -->
			<!-- 						</div> -->
			<!-- 						<div class="col-sm-10"> -->
			<!-- 							<input type="text" class="form-control input-sm" -->
			<!-- 								id="inpMemberNokName" placeholder="Name in Full" -->
			<!-- 								ng-model="nokName" readonly> -->
			<!-- 						</div> -->
			<!-- 					</div> -->

			<!-- 				</div> -->
			<!-- 				<div class="form-group col-sm-12 noPadding"> -->
			<!-- 					<div class="col-sm-6 noPadding"> -->
			<!-- 						<div class="col-sm-4" style="text-align: right;"> -->
			<!-- 							<label for="relationSelect" class="control-label input-sm">Relationship</label> -->
			<!-- 						</div> -->
			<!-- 						<div class="col-sm-8"> -->
			<!-- 							<select style="width: 100%" ui-select2="" readonly -->
			<!-- 								ng-model="relationSelect" id="relationSelect" > -->
			<!-- 								<option data-ng-repeat="relation in relations" -->
			<!-- 									ng-selected="{{relation.relationId}}" -->
			<!-- 									value="{{relation.relationId}}">{{relation.relationName}}</option> -->
			<!-- 							</select> -->
			<!-- 						</div> -->
			<!-- 					</div> -->
			<!-- 					<div class="col-sm-6 noPadding"> -->
			<!-- 						<div class="col-sm-4" style="text-align: right;"> -->
			<!-- 							<label for="inpNokIdPpNo" class="control-label input-sm">ID -->
			<!-- 								or PP No.</label> -->
			<!-- 						</div> -->
			<!-- 						<div class="col-sm-8"> -->
			<!-- 							<input type="text" class="form-control input-sm" -->
			<!-- 								id="inpNokIdPpNo" placeholder="ID or PP No." -->
			<!-- 								ng-model="nokIdPpNo" readonly> -->
			<!-- 						</div> -->
			<!-- 					</div> -->

			<!-- 				</div> -->
			<!-- 				<div class="form-group col-sm-12 noPadding"> -->
			<!-- 					<div class="col-sm-6 noPadding"> -->
			<!-- 						<div class="col-sm-4" style="text-align: right;"> -->
			<!-- 							<label for="inpNokTeleNo" class="control-label input-sm">Telephone -->
			<!-- 								No.</label> -->
			<!-- 						</div> -->
			<!-- 						<div class="col-sm-8"> -->
			<!-- 							<input type="text" class="form-control input-sm" -->
			<!-- 								id="inpNokTeleNo" placeholder="Telephone No." -->
			<!-- 								ng-model="nokTelephoneNo" readonly> -->
			<!-- 						</div> -->
			<!-- 					</div> -->
			<!-- 					<div class="col-sm-6 noPadding"> -->
			<!-- 						<div class="col-sm-4" style="text-align: right;"> -->
			<!-- 							<label for="inpNokPostalAdd" class="control-label input-sm">Postal -->
			<!-- 								Address.</label> -->
			<!-- 						</div> -->
			<!-- 						<div class="col-sm-8"> -->
			<!-- 							<input type="text" class="form-control input-sm" -->
			<!-- 								id="inpNokPostalAdd" placeholder="Postal Address." -->
			<!-- 								ng-model="nokPostalAdd" readonly> -->
			<!-- 						</div> -->
			<!-- 					</div> -->

			<!-- 				</div> -->
			<!-- 			</div> -->
			<!-- 			<div class="panel-heading input-sm"> -->
			<!-- 				<strong><span class="glyphicon glyphicon-th input-sm"></span> -->
			<!-- 					Plan Details</strong> -->
			<!-- 			</div> -->
			<!-- 			<div class="panel-body"> -->
			<!-- 				<div class="form-group col-sm-12 noPadding"> -->
			<!-- 					<div class="col-sm-6 noPadding"> -->
			<!-- 						<div class="col-sm-4" style="text-align: right;"> -->
			<!-- 							<label for="familySizeSelect" class="control-label input-sm"> -->
			<!-- 								Cover</label> -->
			<!-- 						</div> -->
			<!-- 						<div class="col-sm-8"> -->
			<!-- 							<select style="width: 100%" ui-select2="coverSelect" -->
			<!-- 								ng-model="coverSelect" id="coverSelect" ng-disabled="isDisabled"> -->
			<!-- 								<option data-ng-repeat="cover in covers" -->
			<!-- 									value="{{cover.coverId}}">{{cover.coverName}}</option> -->
			<!-- 							</select> -->
			<!-- 						</div> -->
			<!-- 					</div> -->
			<!-- 					<div class="col-sm-6 noPadding"> -->
			<!-- 						<div class="col-sm-4" style="text-align: right;"> -->
			<!-- 							<label for="categorySelect" class="control-label input-sm"> -->
			<!-- 								Category </label> -->
			<!-- 						</div> -->
			<!-- 						<div class="col-sm-8"> -->
			<!-- 							<select style="width: 100%" ng-model="categorySelect" -->
			<!-- 								ui-select2="categorySelect" id="categorySelect"> -->
			<!-- 								<option data-ng-repeat="category in categories" -->
			<!-- 									value="{{category.categoryId}}">{{category.categoryName}}</option> -->
			<!-- 							</select> -->
			<!-- 						</div> -->
			<!-- 					</div> -->

			<!-- 				</div> -->
			<!-- 				<div class="form-group col-sm-12 noPadding"> -->
			<!-- 					<div class="col-sm-6 noPadding"> -->
			<!-- 						<div class="col-sm-4" style="text-align: right;"> -->
			<!-- 							<label for="familySizeSelect" class="control-label input-sm"> -->
			<!-- 								IPLimit</label> -->
			<!-- 						</div> -->
			<!-- 						<div class="col-sm-8"> -->
			<!-- 							<input type="text" class="form-control input-sm" -->
			<!-- 								id="inpNokPostalAdd" ng-model="ipLimit" readonly> -->

			<!-- 						</div> -->
			<!-- 					</div> -->
			<!-- 					<div class="col-sm-6 noPadding"> -->
			<!-- 						<div class="col-sm-4" style="text-align: right;"> -->
			<!-- 							<label for="categorySelect" class="control-label input-sm"> -->
			<!-- 								OPLimit</label> -->
			<!-- 						</div> -->
			<!-- 						<div class="col-sm-8"> -->
			<!-- 							<input type="text" class="form-control input-sm" -->
			<!-- 								id="inpNokPostalAdd" ng-model="opLimit" readonly> -->

			<!-- 						</div> -->
			<!-- 					</div> -->

			<!-- 				</div> -->
			<!-- 			</div> -->


			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">

					<button type="button" class="btn btn-warning input-sm"
						style="width: 100px" ng-click="cancelMember()">
						<span class="glyphicon glyphicon-remove"> Cancel </span>
					</button>
				</div>


			</div>

		</section>

	</form>
	<form class="form-horizontal formFadeIn" ng-hide="memEnrollment">
			<section class="panel panel-default">
			<div class="panel-heading input-sm">
				<strong><span class="glyphicon glyphicon-th"></span>Customer
					Enrollment</strong>
			</div>
			<div class="panel-body">
				
				<div class="form-group">
					<div class="panel-body">
						<div class="widget-content">
							<div class="col-lg-12">
								<div class="form-group col-lg-12">
									<div class="col-lg-4"></div>
									<div class="col-lg-4">
										<div class="row" style="min-height: 320px;">
											<img src="images/enroll/enroll.png" class="imgFade" /><img
												src="images/enroll/L0.png" class="fl-L0 imgFade"
												data-next="fl-L1" /><img src="images/enroll/L1.png"
												class="fl-L1 imgFade" data-next="fl-L2" /><img
												src="images/enroll/L2.png" class="fl-L2 imgFade"
												data-next="fl-L3" /><img src="images/enroll/L3.png"
												class="fl-L3 imgFade" data-next="fl-L4" /><img
												src="images/enroll/L4.png" class="fl-L4 imgFade"
												data-next="fl-R0" /><img src="images/enroll/R0.png"
												class="fl-R0 imgFade" data-next="fl-R1" /><img
												src="images/enroll/R1.png" class="fl-R1 imgFade"
												data-next="fl-R2" /><img src="images/enroll/R2.png"
												class="fl-R2 imgFade" data-next="fl-R3" /><img
												src="images/enroll/R3.png" class="fl-R3 imgFade"
												data-next="fl-R4" /><img src="images/enroll/R4.png"
												class="fl-R4 imgFade" data-next="x" />
										</div>
									</div>
									<div class="col-lg-4"></div>
								</div>
								<div class="col-lg-12">
									<div class="form-group col-lg-6">
										<div class="col-lg-12">
											<div class="row">
												<table class="table" style="height: 20%;" rowspan="2"
													colspan="2">
													<tbody>
														<tr>
															<td class="cp-L4 imgCol1" data-href='4|L' data-img='L4'
																data-pos='5' data-info='Left Little' capture><a
																href="javascript:;" class="shortcuts shortcut"> <img
																	src="images/enroll/noImage_1.png">
															</a></td>
															<td class="cp-L3 imgCol1" data-href='3|L' data-img='L3'
																data-pos='4' data-info='Left Ring' capture><a
																href="javascript:;" class="shortcuts shortcut"> <img
																	src="images/enroll/noImage_1.png">
															</a></td>
															<td class="cp-L2 imgCol1" data-href='2|L' data-img='L2'
																data-pos='3' data-info='Left Middle' capture><a
																href="javascript:;" class="shortcuts shortcut"> <img
																	src="images/enroll/noImage_1.png">
															</a></td>
															<td class="cp-L1 imgCol1" data-href='1|L' data-img='L1'
																data-pos='2' data-info='Left Index' capture><a
																href="javascript:;" class="shortcuts shortcut"> <img
																	src="images/enroll/noImage_1.png">
															</a></td>
															<td class="cp-L0 imgCol1" data-href='0|L' data-img='L0'
																data-pos='1' data-info='Left Thumb' capture><a
																href="javascript:;" class="shortcuts shortcut"> <img
																	src="images/enroll/noImage_1.png">
															</a></td>
														</tr>
														<tr>
															<td>
																<div
																	class="qt-L4 progressbar-xs progress ng-isolate-scope">
																	<div class="progress-bar"
																		ng-class="type &amp;&amp; 'progress-bar-' + type"></div>
																</div>
															</td>
															<td>
																<div
																	class="qt-L3 progressbar-xs progress ng-isolate-scope">
																	<div class="progress-bar"
																		ng-class="type &amp;&amp; 'progress-bar-' + type"></div>
																</div>
															</td>
															<td>
																<div
																	class="qt-L2 progressbar-xs progress ng-isolate-scope">
																	<div class="progress-bar"
																		ng-class="type &amp;&amp; 'progress-bar-' + type"></div>
																</div>
															</td>
															<td>
																<div
																	class="qt-L1 progressbar-xs progress ng-isolate-scope">
																	<div class="progress-bar"
																		ng-class="type &amp;&amp; 'progress-bar-' + type"></div>
																</div>
															</td>
															<td>
																<!-- <div class="qt-L0 progressx progress-striped active ">
																	<div class="progress-bar progress" role="progressbar"
																		aria-valuenow="85" aria-valuemin="0"
																		aria-valuemax="100"></div>
																</div> -->
																<div
																	class="qt-L0 progressbar-xs progress ng-isolate-scope">
																	<div class="progress-bar"
																		ng-class="type &amp;&amp; 'progress-bar-' + type"></div>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<div class="form-group col-lg-6">
										<div class="col-lg-12">
											<div class="row">
												<table class="table" style="border: 0; height: 20%;"
													rowspan="2" colspan="2">
													<tbody>
														<tr>
															<td class="cp-R0 imgCol1" data-href='0|R' data-img='R0'
																data-pos='1' data-info='Right Thumb' capture><a
																href="javascript:;" class="shortcuts shortcut"> <img
																	src="images/enroll/noImage_1.png">
															</a></td>
															<td class="cp-R1 imgCol1" data-href='1|R' data-img='R1'
																data-pos='2' data-info='Right Index' capture><a
																href="javascript:;" class="shortcuts shortcut"> <img
																	src="images/enroll/noImage_1.png">
															</a></td>
															<td class="cp-R2 imgCol1" data-href='2|R' data-img='R2'
																data-pos='3' data-info='Right Middle' capture><a
																href="javascript:;" class="shortcuts shortcut"> <img
																	src="images/enroll/noImage_1.png">
															</a></td>
															<td class="cp-R3 imgCol1" data-href='3|R' data-img='R3'
																data-pos='4' data-info='Right Ring' capture><a
																href="javascript:;" class="shortcuts shortcut"> <img
																	src="images/enroll/noImage_1.png">
															</a></td>
															<td class="cp-R4 imgCol1" data-href='4|R' data-img='R4'
																data-pos='5' data-info='Right Little' capture><a
																href="javascript:;" class="shortcuts shortcut"> <img
																	src="images/enroll/noImage_1.png">
															</a></td>
														</tr>
														<tr>
															<td>
																<div
																	class="qt-R0 progressbar-xs progress ng-isolate-scope">
																	<div class="progress-bar"
																		ng-class="type &amp;&amp; 'progress-bar-' + type"></div>
																</div>
															</td>
															<td>
																<div
																	class="qt-R1 progressbar-xs progress ng-isolate-scope">
																	<div class="progress-bar"
																		ng-class="type &amp;&amp; 'progress-bar-' + type"></div>
																</div>
															</td>
															<td>
																<div
																	class="qt-R2 progressbar-xs progress ng-isolate-scope">
																	<div class="progress-bar"
																		ng-class="type &amp;&amp; 'progress-bar-' + type"></div>
																</div>
															</td>
															<td>
																<div
																	class="qt-R3 progressbar-xs progress ng-isolate-scope">
																	<div class="progress-bar"
																		ng-class="type &amp;&amp; 'progress-bar-' + type"></div>
																</div>
															</td>
															<td>
																<div
																	class="qt-R4 progressbar-xs progress ng-isolate-scope">
																	<div class="progress-bar"
																		ng-class="type &amp;&amp; 'progress-bar-' + type"></div>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<div class="col-lg-12" style="text-align: center">
										<a id="rd" class="btn btn-success" ng-click="onEnrollMem()">
											<i class="icon-ok"></i> Enroll
										</a> <a class="btn btn-warning" ng-click="resetDevice()" id="rdb"><i
											class="icon-refresh"></i> Open-Device </a> <a id="rd"
											class="btn btn-danger growl-type" ng-click="cancelMem()">
											<i class="icon-warning-sign"></i> Cancel
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</form>
</div>

