<div class="page" ng-controller="detachCtrl">
	<form role="form" class="formFadeIn" ng-hide="!showSearch">
		<section class="panel panel-default table-dynamic">
			<div class="panel-heading input-sm">
				<strong><span class="glyphicon glyphicon-th input-sm "></span>Search
					Member No</strong>
			</div>
			<div class="panel-body">
				<div class="form-inline">
					<div class="form-group col-sm-12">
						<label for="memberId" class="col-sm-2 control-label input-sm"
							style="text-align: right;">Member Number</label>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm"
								placeholder="Member Code" style="width: 100%"
								ng-Model="memberNo">
						</div>
						<div class="col-sm-2">
							<button type="button"
								class="btn btn-w-md btn-gap-v btn-info input-sm"
								ng-click="viewMember(memberNo)">
								<span class="glyphicon glyphicon-barcode"></span> Search
							</button>
						</div>
					</div>
				</div>
			</div>
		</section>
	</form>
	<form class="form-horizontal formFadeIn" role="form"
		ng-hide="showSearch">
		<section class="panel panel-default">
			<div class="panel-heading input-sm">
				<strong><span class="glyphicon glyphicon-th"></span>Member
					Info</strong>
			</div>
			<div class="panel panel-profile col-sm-12" style="padding-top: 16px">
				<div class="panel-heading bg-default clearfix col-sm-2">
					<a href="" class="pull-left profile"> <img alt=""
						ng-src="{{myCroppedImage}}" class="img-circle img105_105"
						style="background-color: white">
					</a>
				</div>
				<div class="col-sm-10">
					<table
						class="table table-bordered table-striped table-responsive input-sm">
						<tbody>
							<tr>
								<td>Name</td>
								<td><b>{{member.fullName}}</b></td>
							</tr>
							<tr>
								<td>Member no</td>
								<td><b>{{member.memberNo}}</b></td>
							</tr>
							<tr>
								<td>Age</td>
								<td>{{member.age}}</td>
							</tr>
							<tr>
								<td>Scheme</td>
								<td>{{member.scheme}}</td>
							</tr>
							<tr>
								<td>Category</td>
								<td>{{member.category}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel-body"></div>

			<div class="panel-heading input-sm">
				<strong><span class="glyphicon glyphicon-th input-sm"></span>
					Member bio detaches</strong>
			</div>
			<div class="panel-body">
				<div class="form-group col-sm-12"
					style="max-height: 400px; overflow-y: auto;">
					<table
						class="table table-bordered table-striped table-responsive input-sm">
						<thead>
							<tr>
								<th>
									<div class="th">
										<b>Date detached</b>
									</div>
								</th>
								<th>
									<div class="th">
										<b>Reason</b>
									</div>
								</th>
								<th>
									<div class="th">
										<b>Detached by</b>
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="3" align="center" ng-show="detaches.length==0"><b>No
										previous detaches</b></td>
							</tr>
							<tr data-ng-repeat="voucher in detaches">
								<td>{{voucher.createdOn}}</td>
								<td>{{voucher.reason}}</td>
								<td>{{voucher.createdBy}}</td>
							</tr>
						</tbody>
					</table>
					<div class="col-sm-offset-10 col-sm-2">
						<button type="button" class="btn input-sm" style="width: 100px"
							ng-click="cancel()">
							<span class="glyphicon glyphicon-ok"> Cancel </span>
						</button>
					</div>
				</div>
			</div>
		</section>
		<section class="panel panel-default table-dynamic"
			ng-show="member.hasBio">
			<div class="panel-body">
				<div class="form-group col-sm-12">
					<label for="userName" class="col-sm-2 control-label input-sm">Enter
						Reason</label>
					<div class="col-sm-6">
						<textarea class="form-control input-sm" id="userName"
							placeholder="Reason" ng-model="member.reason"></textarea>
					</div>
				</div>
				<div class="col-sm-offset-2 col-sm-10">
					<button type="button" class="btn btn-danger input-sm"
						style="width: 100px" ng-click="detach()">
						<span class="glyphicon glyphicon-remove"> Detach </span>
					</button>
					<button type="button" class="btn input-sm" style="width: 100px"
						ng-click="cancel()">
						<span class="glyphicon glyphicon-ok"> Cancel </span>
					</button>
				</div>
			</div>
		</section>
	</form>
</div>
