<div class="page" ng-controller="deviceCtrl">
	<form role="form" class="formFadeIn" ng-hide="deviceEditMode == true ">
		<section class="panel panel-default table-dynamic">
			<div class="panel-heading input-sm">
				<strong><span class="glyphicon glyphicon-th"></span>
					Device's List</strong>
				<button type="button" class="btn btn-primary pull-right"
					tooltip-placement="left" tooltip="Create New Device"
					style="margin-top: -3px; height: 25px; margin-right: -8px; width: 60px"
					ng-click="addDevice()">
					<span class="glyphicon glyphicon-plus" style="top: -2px"></span>
				</button>
			</div>

			<div class="table-filters">
				<div class="row">
					<div class="col-sm-4 col-xs-6">
						<form>
							<input type="text" placeholder="search"
								class="form-control input-sm" data-ng-model="searchKeywords"
								data-ng-keyup="search()">
						</form>
					</div>
					<div class="col-sm-3 col-xs-6 filter-result-info input-sm">
						<span> Showing {{filteredDevices.length}}/{{devices.length}} entries </span>
					</div>
				</div>
			</div>

			<table
				class="table table-bordered table-striped table-responsive input-sm">
				<thead>
					<tr>
						<th>
							<div class="th">
								# <span class="glyphicon glyphicon-chevron-up"
									data-ng-click=" order('regId') "
									data-ng-class="{active: row == 'regId'}"></span><span
									class="glyphicon glyphicon-chevron-down"
									data-ng-click=" order('-regId') "
									data-ng-class="{active: row == '-regId'}"></span>
							</div>
						</th>
						<th>
							<div class="th">
								Device ID<span class="glyphicon glyphicon-chevron-up"
									data-ng-click=" order('serialNo') "
									data-ng-class="{active: row == 'serialNo'}"></span><span
									class="glyphicon glyphicon-chevron-down"
									data-ng-click=" order('-serialNo') "
									data-ng-class="{active: row == '-serialNo'}"></span>
							</div>
						</th>
							<th>
							<div class="th">
							IMEI Number<span class="glyphicon glyphicon-chevron-up"
									data-ng-click=" order('imeiNo') "
									data-ng-class="{active: row == 'imeiNo'}"></span><span
									class="glyphicon glyphicon-chevron-down"
									data-ng-click=" order('-imeiNo') "
									data-ng-class="{active: row == '-imeiNo'}"></span>
							</div>
						</th>


						<th style="width: 60px"></th>
					</tr>
				</thead>
				<tbody>
					<tr><td  colspan="4" align="center" ng-show="filteredDevices.length==0"><b>No data</b></td></tr>
					<tr data-ng-repeat="device in currentPageDevices">
						<td>{{device.regId}}</td>
						<td>{{device.serialNo}}</td>
						<td>{{device.imeiNo}}</td>

						<td style="padding: 1px;">
							<button type="button" class="btn btn-success"
								style="height: 25px; width: 60px;" tooltip-placement="top"
								tooltip="Modify {{device.serialNo}}"
								ng-click="editDevice(device)">
								<span class="glyphicon glyphicon-pencil" style="top: -2px;"></span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>

			<footer class="table-footer input-sm">
				<div class="row">
					<div class="col-md-6 page-num-info">
						<span> Show <select data-ng-model="numPerPage"
							data-ng-options="num for num in numPerPageOpt"
							data-ng-change="onNumPerPageChange()"></select> entries per page
						</span>
					</div>
					<div class="col-md-6 text-right pagination-container">
						<pagination class="pagination-sm" page="currentPage"
							total-items="filteredDevices.length" max-size="4"
							on-select-page="select(page)" items-per-page="numPerPage"
							rotate="false" boundary-links="true"></pagination>
					</div>
				</div>
			</footer>
		</section>
	</form>
	<form class="form-horizontal formFadeIn" role="form"
		ng-hide="!deviceEditMode">
		<section class="panel panel-default">
			<div class="panel-heading input-sm">
				<strong><span class="glyphicon glyphicon-th"></span> Device
					Registration</strong>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label for="serialNo" class="col-sm-2 control-label input-sm">Device ID
						</label>

					<div class="col-sm-10">
						<input type="text" class="form-control input-sm" id="serialNo"
							placeholder="Device ID" ng-model="serialNo" maxlength="18"
							>
					</div>
				</div>
					<div class="form-group">
					<label for="imeiNo" class="col-sm-2 control-label input-sm">IMEI NO
						</label>

					<div class="col-sm-10">
						<input type="text" class="form-control input-sm" id="imeiNo"
							placeholder="imeiNo" ng-model="imeiNo" maxlength="18"
							>
					</div>
				</div>
				<div class="form-group">
					<label for="active" class="col-sm-2 control-label input-sm">Active</label>

					<div class="col-sm-10">
						<label> <input type="checkbox" id="active"
							ng-model="active" style="margin-top: 10px">
						</label>
					</div>
				</div>
				<div class="form-group">
					<div class=" col-sm-offset-2 col-sm-10">
						<button type="button" class="btn btn-success input-sm"
							style="width: 100px" ng-click="updDevice()">
							<span class="glyphicon glyphicon-ok">Save</span>
						</button>
						<button type="button" class="btn btn-warning input-sm"
							style="width: 100px" ng-click="cancelDevice()">
							<span class="glyphicon glyphicon-remove"> Cancel</span>
						</button>
						
					</div>
				</div>
			</div>
		</section>
	</form>
</div>